*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
   
}

.container{
    margin: 50px auto;    
    width:80%;    
    display: flex;
    justify-content: space-between;
    padding:20px; 
    flex-flow:wrap
}



.card{    
    width:200px;
    height:200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid rgb(34, 144, 218);
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    background-color: #fff;
}

.bg{
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.99));
    z-index: 5;
    transition: 0.5s;
}

.bg:hover{
    background: transparent;
}

.title{
    display: block;
    width: 100%;
    min-height: 80px;
    max-height: 80px;
    padding:10px 20px;
    font-weight: bold;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    text-align: center;
    margin-bottom: 20px;    
    background-color: rgb(34, 144, 218);
    color: #fff;
    
}

.post{
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    background-color: #fff;
}

button{
    position: relative;
    left:40%;
    margin-bottom: 30px;
    margin-top: 30px;
    width:50px;
    border-radius: 10px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: rgb(12, 12, 11);
    color: #fff;
    font-weight: bold;
}

.active{
    background-color: rgb(28, 30, 202);   
    width: 55px;
    height: 33px;
}